<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Encuesta de un Servicio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-6">
        <div class="flex justify-center">
            <div class="w-full max-w-md">
                <h2 class="text-2xl font-bold mb-4 text-center">Formulario de Encuesta de un Servicio</h2>
                <form id="predictionForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                    <div class="mb-4">
                        <label for="tiempo_espera" class="block text-gray-700 text-sm font-bold mb-2">Tiempo de espera en minutos</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="tiempo_espera" required>
                    </div>
                    <div class="mb-4">
                        <label for="duracion_atencion" class="block text-gray-700 text-sm font-bold mb-2">Duración de atención en minutos</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="duracion_atencion" required>
                    </div>
                    <div class="mb-4">
                        <label for="costo_servicio" class="block text-gray-700 text-sm font-bold mb-2">Costo del servicio</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="costo_servicio" required>
                    </div>
                    <div class="mb-4">
                        <label for="calidad_atencion" class="block text-gray-700 text-sm font-bold mb-2">Calidad de atención</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="calidad_atencion" required min="1" max="5">
                    </div>
                    <div class="mb-4">
                        <label for="instalaciones" class="block text-gray-700 text-sm font-bold mb-2">Instalaciones</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="instalaciones" required min="1" max="5">
                    </div>
                    <div class="mb-4">
                        <label for="comunicacion" class="block text-gray-700 text-sm font-bold mb-2">Comunicación</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="comunicacion" required min="1" max="5">
                    </div>
                    <div class="mb-4">
                        <label for="facilidad_de_pago" class="block text-gray-700 text-sm font-bold mb-2">Facilidad de pago</label>
                        <input type="number" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="facilidad_de_pago" required min="1" max="5">
                    </div>
                    <div class="mb-4">
                        <label for="experiencia_cliente" class="block text-gray-700 text-sm font-bold mb-2">Experiencia del cliente</label>
                        <select id="experiencia_cliente" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                            <option value="buena">Buena</option>
                            <option value="regular">Regular</option>
                            <option value="mala">Mala</option>
                            <option value="pesima">Pésima</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="recomendaciones" class="block text-gray-700 text-sm font-bold mb-2">¿Recomendarías el servicio?</label>
                        <select id="recomendaciones" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <button
                        type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    >
                        Enviar
                    </button>
                </form>
                <div class="mt-3" id="predictionResult"></div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('predictionForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = {
                tiempo_espera: parseInt(document.getElementById('tiempo_espera').value),
                duracion_atencion: parseInt(document.getElementById('duracion_atencion').value),
                costo_servicio: parseInt(document.getElementById('costo_servicio').value),
                calidad_atencion: parseInt(document.getElementById('calidad_atencion').value),
                instalaciones: parseInt(document.getElementById('instalaciones').value),
                comunicacion: parseInt(document.getElementById('comunicacion').value),
                facilidad_de_pago: parseInt(document.getElementById('facilidad_de_pago').value),
                experiencia_cliente: document.getElementById('experiencia_cliente').value,
                recomendaciones: document.getElementById('recomendaciones').value
            };

            console.log(formData)

            const response = await fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            const result = await response.json();
            document.getElementById('predictionResult').innerText = `Predicción: ${result.prediction}`;
        });
    </script>
</body>
</html>
